<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>数据列表</title>
    <link rel="stylesheet" href="/static/css/order_style.css" />
</head>
<body>
  <!-- 优化后的导航栏 -->
  <nav class="navbar">
    <div class="nav-container">
      <a href="#" class="nav-logo">订单平台</a>
      <ul class="nav-menu">
        <li><a href="#" class="nav-link">用户管理</a></li>
        <li><a href="/order/list" class="nav-link active">订单管理</a></li>
        <li class="nav-dropdown">
          <a href="#" class="nav-link dropdown-toggle">{{ my_context_processor() }} <span class="caret">▼</span></a>

          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">操作一</a></li>
            <li><a href="#" class="dropdown-item">操作二</a></li>
            <li><a href="#" class="dropdown-item">操作三</a></li>
            <li class="divider"></li>
            <li><a href="#" class="dropdown-item">分割项一</a></li>
            <li class="divider"></li>
            <li><a href="#" class="dropdown-item">分割项二</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">

    {%block body%}{%endblock%}

  </div>

</body>
</html>
